<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>rightAnswer</key>
		<string>C</string>
		<key>question</key>
		<string>在以下关于C++语言的注释的叙述中，不正确的是:</string>
		<key>Answers</key>
		<array>
			<dict>
				<key>index</key>
				<string>A</string>
				<key>content</key>
				<string>C++程序中，注释可用“/*”、“*/”形式表示，也可用“//”形式表示</string>
			</dict>
			<dict>
				<key>index</key>
				<string>B</string>
				<key>content</key>
				<string>C++编译器在编译一个程序时，将跳过注释，不对其进行处理</string>
			</dict>
			<dict>
				<key>index</key>
				<string>C</string>
				<key>content</key>
				<string>C++编译器在编译一个程序时，可发现注释中的单词拼写错误</string>
			</dict>
			<dict>
				<key>index</key>
				<string>D</string>
				<key>content</key>
				<string>程序中注释的多少不会影响所生成的可执行文件的长度</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>rightAnswer</key>
		<string>B</string>
		<key>question</key>
		<string>在C++语言的if语句中，用作判断的表达式为</string>
		<key>Answers</key>
		<array>
			<dict>
				<key>index</key>
				<string>A</string>
				<key>content</key>
				<string>关系表达式</string>
			</dict>
			<dict>
				<key>index</key>
				<string>B</string>
				<key>content</key>
				<string>逻辑表达式</string>
			</dict>
			<dict>
				<key>index</key>
				<string>C</string>
				<key>content</key>
				<string>算术表达式</string>
			</dict>
			<dict>
				<key>index</key>
				<string>D</string>
				<key>content</key>
				<string>任意表达式</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
